/.metadata/
/AulaMenu/build/
/MenuBotoes/nbproject/private/
/MenuBotoes/build/
/revisao/nbproject/private/
/revisao/build/
/escola/nbproject/private/
/escola/build/
/.recommenders/
/GestaoTarefa/nbproject/private/
/GestaoTarefa/build/